﻿@model IEnumerable<WebAdministrativo.Dominio.CentroCusto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Nome
        </th>
        <th>
            CentroCustoPaiId
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CentroCustoPaiId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CentroCustoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CentroCustoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CentroCustoId })
        </td>
    </tr>
}

</table>
