﻿@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>@Html.ActionLink("Lançamentos", "Index", "Lancamento")</p>
<p>@Html.ActionLink("Cheques", "Index", "Cheque")</p>
<p>@Html.ActionLink("Clientes", "Index", "Pessoa")</p>
<p>@Html.ActionLink("Dívidas", "Index", "DividaFutura")</p>
<p>@Html.ActionLink("Centro de Custos", "Index", "CentroCusto")</p>
<p>@Html.ActionLink("Pontos", "Index", "Ponto")</p>
