﻿@if(Request.IsAuthenticated) {
    <text>Olá <strong>@ViewData["NomeAdministrador"]</strong>!
    [ @Html.ActionLink("SAIR", "LogOff", "Account") ]</text>
}
else {
    @:[ @Html.ActionLink("LOGIN", "LogOn", "Account") ]
}
