﻿@model WebAdministrativo.Dominio.Cheque

@{
    ViewBag.Title = "Editar Cheque";
}

<h2>Alterar cheque</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQueryFixes.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false, "ATENÇÃO:", new { @class = "alert alert-error" })    

    <div class="Linha">
        @Html.HiddenFor(model => model.ChequeId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Numero)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero)
        </div>
    </div>
    
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
        </div>
    </div>
    
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Valor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Valor)
        </div>
    </div>
    
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Data)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Data)
        </div>
    </div>
    
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.DataCompensacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataCompensacao)
        </div>
    </div>
    
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Pago)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pago)
        </div>
    </div>
        <p>
            <input type="submit" value="Salvar" class="btn btn-primary" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn" })

        </p>
}

<div>
</div>
