﻿@model IEnumerable<WebAdministrativo.Dominio.Cheque>

@{
    ViewBag.Title = "Index";
}

<h2>Cheques</h2>

<p>
    @Html.ActionLink("Cadastrar", "Novo")
</p>
<table>
    <tr>
        <th>
            Numero
        </th>
        <th>
            Descrição
        </th>
        <th>
            Valor
        </th>
        <th>
            Data emissão
        </th>
        <th>
            Data compensação
        </th>
        <th>
            Compensado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr @((item.Pago) ? "" : " class=LinhaPagar")>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @item.Data.ToShortDateString()
        </td>
        <td>
            @item.DataCompensacao.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pago)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChequeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChequeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChequeId })
        </td>
    </tr>
}

</table>
