﻿@model WebAdministrativo.Dominio.Cheque
@{
    ViewBag.Title = "Novo";
}
<h2>
    Novo cheque</h2>
<hr />
<script src="@Url.Content("~/Scripts/jQueryFixes.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/globalize.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/globalize.culture.pt-BR.js")" type="text/javascript"></script>
<script type="text/javascript">
    // Faz com que o plugin de globalização adote a cultura pt-BR.
    // O ideal é que esta linha não seja necessária, e que o plugin detecte automaticamente a cultura sendo usada.
    // Verificar isso depois.
    Globalize.cultureSelector = 'pt-BR';
</script>
<script type="text/javascript">
    $(function () {
        var dates = $('#Data, #DataCompensacao').datepicker({
            defaultDate: "+0w",
            changeMonth: true,
            numberOfMonths: 1
            /*onSelect: function (selectedDate) {
            var option = this.id == "Data" ? "minDate" : "maxDate"; //Data mínima
            var instance = $(this).data("datepicker");
            var date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
            dates.not(this).datepicker("option", option, date);
            }*/
        });

        $('#Data').val(getDate());
    });
</script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "ATENÇÃO:", new { @class = "alert alert-error" })    
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Numero)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero)
        </div>
    </div>
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
        </div>
    </div>
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Valor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Valor)
        </div>
    </div>
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Data)
        </div>
        <div class="editor-field">
            <input type="text" value="" name="Data" id="Data" />
        </div>
    </div>
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.DataCompensacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataCompensacao)
        </div>
    </div>
    <div class="Linha">
        <div class="editor-label">
            @Html.EditorFor(model => model.Pago) @Html.LabelFor(model => model.Pago)
        </div>
    </div>
    <p>
        <input type="submit" value="Salvar" class="btn btn-primary" />
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn" })
    </p>
}
