﻿@model WebAdministrativo.Dominio.Lancamento
@{
    ViewBag.Title = "Create";
}
<h2>
    Novo Lançamento</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQueryFixes.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var dates = $('#Data').datepicker({
            defaultDate: "+0w",
            changeMonth: true,
            numberOfMonths: 1
        });

        $('#Data').val(getDate());
    });
</script>
@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="row-fluid">
            @if (ViewBag.CentrosdeCusto != null)
            {
            <div class="span3 CentrosDeCusto">
                @foreach (var item in (IEnumerable<WebAdministrativo.Dominio.CentroCusto>)ViewBag.CentrosdeCusto)
                {
                    if (item.CentroCustoPaiId == null)
                    {
                    <div style="float: left; width: 100%; margin-top: 8px;">
                        <input name="CentroCustoId" id="CentroCustoId" type="radio" value="@item.CentroCustoId" class="ckbItem" onclick="getCentroCusto(this.value);" />
                        @Html.Raw("<strong>" + item.Nome + "</strong>")
                    </div>
                    }
                    else
                    {
                    <div class="Full">
                        <input name="CentroCustoId" id="CentroCustoId" type="radio" value="@item.CentroCustoId" class="ckbItem" onclick="getCentroCusto(this.value);" />
                        @Html.Raw("&nbsp;" + item.Nome)
                    </div>
                    }
                }
            </div>
            }
            <div class="span9">
                @Html.ValidationSummary(false, "ATENÇÃO:", new { @class = "alert alert-error" })
                <div class="Linha">
                    @Html.HiddenFor(model => model.CentroCustoId)
                    <div class="Bloco">
                        <div class="editor-label">
                            Operação
                        </div>
                        <div class="editor-field">
                            <select name="Operacao" id="Operacao">
                                <option value="1">Crédito</option>
                                <option value="0" selected="selected">Débito</option>
                            </select>
                        </div>
                    </div>
                    <div class="Bloco">
                        <div class="editor-label">
                            Conta bancária
                        </div>
                        <div class="editor-field">
                            @Html.DropDownList("ContaId")
                            @Html.ValidationMessageFor(model => model.ContaId)
                        </div>
                    </div>
                    <div class="Bloco">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.FormaPagamento)
                        </div>
                        <div class="editor-field">
                            <select name="FormaPagamento" id="FormaPagamento">
                                <option value="1">Dinheiro</option>
                                <option value="2">Cheque Santander</option>
                                <option value="3">Cartão Crédito Unicard Visa</option>
                                <option value="4">Cartao Crédito Santander Gold</option>
                                <option value="5">Cartão Débito Santander Gold</option>
                                <option value="6">Cartão Crédito Submarino</option>
                                <option value="7">Cartão Crédito Petrobrás</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="Linha">
                    <div class="Bloco">
                        <div class="editor-label">
                            Cliente</div>
                        <div class="editor-field">
                            <input type="hidden" name="PessoaId" id="PessoaId" />
                            <input type="text" name="NomeCliente" id="NomeCliente" value="" />
                            <a href="#myModal" role="button" class="btn" data-toggle="modal">Selecionar...</a>
                        </div>
                    </div>
                    <div class="Bloco">
                        <div class="editor-label">
                            Cheque</div>
                        <div class="editor-field">
                            <input type="hidden" name="ChequeId" id="ChequeId" />
                            <input type="text" name="NomeCheque" id="NomeCheque" value="" />
                            <a href="#myModalCheques" role="button" class="btn" data-toggle="modal">Selecionar...</a>
                        </div>
                    </div>
                </div>
                <div class="Linha">
                    <div class="Bloco">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Data)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Data)
                        </div>
                    </div>
                    <div class="Bloco">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Descricao)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Descricao)
                            @Html.ValidationMessageFor(model => model.Descricao)
                        </div>
                    </div>
                    <div class="Bloco">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Valor)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Valor)
                        </div>
                    </div>
                </div>

                <input type="submit" value="Salvar" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn" })
            </div>
        </div>
    </div>
        
}

<!-- Modal Clientes -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×</button>
        <h3 id="myModalLabel">
            Selecionar cliente</h3>
    </div>
    <div class="modal-body">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var item in (IEnumerable<WebAdministrativo.Dominio.Pessoa>)ViewBag.Clientes)
            {
                <li><a href="javascript:void(0);" onclick="getCliente(@item.PessoaId, '@item.Nome')">@Html.Raw(item.Nome)</a></li>
            }
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Fechar</button>
    </div>
</div>

<!-- Modal Cheques -->
<div id="myModalCheques" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×</button>
        <h3 id="myModalLabel">
            Selecionar cheque</h3>
    </div>
    <div class="modal-body">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var item in (IEnumerable<WebAdministrativo.Dominio.Cheque>)ViewBag.Cheques)
            {
                <li><a href="javascript:void(0);" onclick="getCheque(@item.ChequeId, '@item.Numero - @item.Descricao')">@Html.Raw("Cheque " + item.Numero + " - " + item.Descricao + " --> R$ " + item.Valor)</a></li>
            }
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Fechar</button>
    </div>
</div>

<script language="javascript" type="text/javascript">
function getCliente(id, nome) {
    $("#PessoaId").val(id);
    $("#NomeCliente").val(nome);
    $('#myModal').modal('hide');
}

function getCheque(id, nome) {
    $("#ChequeId").val(id);
    $("#NomeCheque").val(nome);
    $('#myModalCheques').modal('hide');
}

function getCentroCusto(id) {
    $("#CentroCustoId").val(id);
}
</script>
