﻿@model IEnumerable<WebAdministrativo.Dominio.Lancamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Data
        </th>
        <th>
            Descricao
        </th>
        <th>
            Valor
        </th>
        <th>
            CentroCustoId
        </th>
        <th>
            ContaId
        </th>
        <th>
            ChequeId
        </th>
        <th>
            PessoaId
        </th>
        <th>
            Operacao
        </th>
        <th>
            FormaPagamento
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CentroCustoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChequeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PessoaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Operacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormaPagamento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LancamentoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LancamentoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LancamentoId })
        </td>
    </tr>
}

</table>
