﻿@model WebAdministrativo.Dominio.Cliente
@{
    ViewBag.Title = "Editar";
}
<h2>
    Editar</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "ATENÇÃO:", new { @class = "alert alert-error" })    
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
        </div>
    </div>

    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
        </div>
    </div>
       
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Endereco)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Endereco)
        </div>
    </div>
         
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
        </div>
    </div>    
    
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Nascimento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nascimento)
        </div>
    </div>
        
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Sexo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sexo)
        </div>
    </div>
        
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Contato)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contato)
        </div>
    </div>
        
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.TipoPessoa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TipoPessoa)
        </div>
    </div>
        
        <p>
        <input type="submit" value="Salvar" class="btn btn-primary" />
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn" })
    </p>    
}