﻿@model IEnumerable<WebAdministrativo.Dominio.DividaFutura>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Nome
        </th>
        <th>
            Valor
        </th>
        <th>
            Prestacoes
        </th>
        <th>
            Termino
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prestacoes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Termino)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DividaFuturaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DividaFuturaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DividaFuturaId })
        </td>
    </tr>
}

</table>
