﻿@model WebAdministrativo.Models.PontoEditarModel
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>
@using (Html.BeginForm("Novo", "Ponto"))
{
    @Html.ValidationSummary(false, "ATENÇÃO:", new { @class = "alert alert-error" })  
    @Html.HiddenFor(x => x.PontoId) 
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Dia)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Dia, new { @Value = Model != null ? Model.Dia.ToString("dd/MM/yyyy") : string.Empty, @class = "input-xlarge" })
        </div>
    </div>
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Entrada)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Entrada, new { @Value = Model != null && Model.Entrada.HasValue ? Model.Entrada.Value.ToString("HH:mm") : string.Empty, @class = "input-xlarge" })
        </div>
    </div>
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Saida)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Saida, new { @Value = Model != null && Model.Saida.HasValue ? Model.Saida.Value.ToString("HH:mm") : string.Empty, @class = "input-xlarge" })
        </div>
    </div>  
    <div class="Linha">
        <div class="editor-label">
            @Html.LabelFor(model => model.Observacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Observacao)
        </div>
    </div>        
    <p>
        <input type="submit" value="Salvar" class="btn btn-primary" />
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn" })
    </p>
}