﻿@model IEnumerable<WebAdministrativo.Models.PontoListarModel>
@{
    ViewBag.Title = "Index";
}

<h2>Pontos</h2>

<p>
    @Html.ActionLink("Cadastrar", "Novo")
</p>
<table>
    <tr>
        <th>
            Dia
        </th>
        <th>
            Entrada / Saída
        </th>
        <th>Sub Total</th>
        <th>Saldo</th>
    </tr>

@foreach (var item in Model) {
    <tr class="linha-registro-@item.Completo">
        <td>
            @item.Dia.ToShortDateString()
        </td>
        <td>
            @foreach (WebAdministrativo.Models.PontoEntradaSaidaModel registro in item.Turnos)
	        {
		        <div>
                    <div class="registro-horario">@(registro.Entrada.HasValue ? registro.Entrada.Value.ToShortTimeString() : "") --> @(registro.Saida.HasValue ? registro.Saida.Value.ToShortTimeString() : "")</div>
                    @Html.ActionLink("Alterar", "Editar", new { id = registro.PontoId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = registro.PontoId }, new { @OnClick = "return confirm('Deseja realmente excluir esse ponto?');" })
                    @*<a class="btn btn-primary" href="#"><i class="icon-align-left icon-white"></i></a>*@
                </div>
            }
        </td>
        <td>@item.TotalDoDia.Value.ToString(@"hh\:mm\:ss")</td>
        <td>@item.SaldoDoDiaFormatado</td>
    </tr>
}

</table>
